<header>
  <h1 class="header">{{ site.title }}</h1>
  <p class="header quote">{{ site.description }}</p>
  <ul>
    <a class="buttons" href="{{ site.baseurl }}/">
      <li>
        <i class='fa fa-home'></i>
          Home
      </li>
    </a>
    <a class="buttons" href="{{ site.baseurl }}/about">
      <li>
        <i class='fa fa-info-circle'></i>
        About
      </li>
    </a>
    <a class="buttons" href="https://github.com/b4mboo" target="_blank">
      <li>
        <i class='fa fa-github'></i>
          b4mboo
      </li>
    </a>
  </ul>
</header>
